.Card {
  padding: 10px;
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5px;
  overflow: hidden;
}
.Top {
  text-align: center;
  & p {
    font-weight: bold;
    color: #4f4f4f;
  }
}
.Button {
  outline: 0;
  border: 0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  padding: 8px 13px;
  width: 100%;
  background: #4f4f4f;
}
.DragArea {
  height: 150px;
  border-radius: 5px;
  border: 2px dashed #4f4f4f;
  color: #4f4f4f;
  background: #f4f3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}
.Select {
  color: #5256ad;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    opacity: 0.6;
  }
}
.Container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.ImageContainer {
  width: 75px;
  margin-right: 5px;
  height: 75px;
  position: relative;
  margin-bottom: 8px;
}
.StyledImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.DeleteButton {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  color: orangered;
}
.Input {
  display: none;
}
